[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "autothresholdr"]
	path = autothresholdr
	url = https://github.com/rorynolan/autothresholdr
[submodule "detrendr"]
	path = detrendr
	url = https://github.com/rorynolan/detrendr
[submodule "exampletestr"]
	path = exampletestr
	url = https://github.com/rorynolan/exampletestr
[submodule "filesstrings"]
	path = filesstrings
	url = https://github.com/rorynolan/filesstrings
[submodule "nandb"]
	path = nandb
	url = https://github.com/rorynolan/nandb
[submodule "strex"]
	path = strex
	url = https://github.com/rorynolan/strex
